<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>DAH</title>
</head>
<body>
	<section id="request-main">
		<header id="request-header">
		</header>
		<ul id="request-list">
		</ul>
	</section>
	<script type="text/template" id="user-template">
		<div>
			<label> Listing requests for <%- firstName %> <%- lastName %><label>
		</div>
	</script>
	<script type="text/template" id="request-item-template">
		<div>
			<input class="toggle" type="checkbox" <%= selected ? "checked":"">></input>
			<a class="request-link"><%- id -></a>
			<label><%- title -></label>
			<label><%- status -></label>
		</div>
	</script>
</body>
<script type="text/javascript" src="js/lib/jquery.js"></script>
<script type="text/javascript" src="js/lib/underscore.js"></script>
<script type="text/javascript" src="js/lib/backbone.js"></script>
<script type="text/javascript" src="js/lib/backbone.localStorage.js"></script>
<script type="text/javascript" src="js/lib/sinon.js"></script>
<script type="text/javascript" src="js/lib/qunit.js"></script>
<script type="text/javascript" src="js/models/user-model.js"></script>
<script type="text/javascript" src="js/models/request-model.js"></script>
<script type="text/javascript" src="js/collections/request-collection.js"></script>
<script type="text/javascript" src="js/views/request-item-view.js"></script>
<script type="text/javascript" src="js/views/request-view.js"></script>
<script type="text/javascript" src="js/request.js"></script>
<script type="text/javascript" src="js/test/sinon-test.js"></script>
</html>